@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #265073;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #010204;
    --text-color: #dcdfd7;
    --primary-color: #9AD0C2;
  }
}

a:not([role]) {
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, var(--primary-color) 35%, var(--background-color));
  transition: text-decoration-color .15s;

  &:hover {
    text-decoration-color: var(--primary-color);
  }
}

tbody :is(th,td) pre code {
  color: white !important;
}

main {
  margin-top: 20vh;
}

hr {
  margin: 3rem 0;
}

ul {
  padding-left: 1em;
}

body>aside:first-of-type {
  padding-top: 20vh;
  ul {
    list-style: none;
  }
}

.icon {
  font-family: graphis, sans-serif;
  font-size: 1rem;
}

blockquote {
  padding-bottom: 0.2rem;
}