<!DOCTYPE html><html lang="en"><head><base href="/pree/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/nokss">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://esm.sh/graphis/font/graphis.css">
    <link rel="stylesheet" href="./theme.css">
    
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">

    
    
    
    
    

    <script src="./.components/emo-li.js" type="module"></script>
    <script type="module" src="./.components/prev-next.js"></script>
  <title>pree: build environment</title>
          
        <link rel="prefetch" href="components/ssr.html"><link rel="prefetch" href="components/publish.html"></head>
  <body><aside aria-hidden="true">
      <use-html src="./_toc.html"><base href="/pree/"><style>
  #toc {
    a:not(:hover) {
      text-decoration-color: transparent;
    }

    hr {
      margin: 0;
    }
  }

</style>

<m-d id="toc" onparse="document.querySelector('prev-next').controls?.load()"><p><a href="index.html">Home</a> <br><a href="motivation.html">Motivation</a> <br><a href="install.html">Installation</a></p>
<hr>
<p><a href="usage/index.html"><strong>Usage</strong></a> <br>  <a href="usage/meta-layout.html">Metadata &amp; Layouts</a> <br>  <a href="usage/build-only-scripts.html">Build-Only Scripts</a> <br>  <a href="usage/config.html">Configuration</a></p>
<hr>
<p><a href="components/index.html"><strong>Using Components</strong></a> <br>  <a href="components/ssr.html">Server Side Rendering</a> <br>  <a href="components/build-env.html">Build Environment</a> <br>  <a href="components/publish.html">Publishing Components</a></p>
<hr>
<p><a href="deploy.html">Deploy</a> <br><a href="api.html">JavaScript API</a> <br><a href="credits.html">Credits</a></p>
<p><br><br></p>
<template shadowrootmode="open"><slot></slot></template></m-d>
<template shadowrootmode="open"><slot></slot></template></use-html>
    </aside>
    <main>
      <m-d><h2 id="build-environment">Build Environment<menu role="toolbar"><button ref="?" aria-label="copy link" class="icon">🔗</button></menu></h2>
<p>Access to build environment can help web components supercharge developer experience. For example, access to git history of HTML files allows web components to automatically deduce the author or publish date of a page. <code>pree</code> provides such access to web components during pre-rendering, through APIs accessible at <code>/@env/</code> path:</p>
<pre><code class="language-js hljs language-javascript" data-highlighted="yes"><span class="hljs-keyword">const</span> res = <span class="hljs-keyword">await</span> <span class="hljs-title function_">fetch</span>(<span class="hljs-string">'/@env/git/commits/first/my-page.html'</span>)
<span class="hljs-keyword">const</span> commit = <span class="hljs-keyword">await</span> res.<span class="hljs-title function_">json</span>()

<span class="hljs-keyword">const</span> author = commit.<span class="hljs-property">author_name</span>
<span class="hljs-keyword">const</span> published = <span class="hljs-keyword">new</span> <span class="hljs-title class_">Date</span>(commit.<span class="hljs-property">date</span>)
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<br>

<p>For example, <a href="https://github.com/loreanvictor/pree/blob/main/docs/components/gh-link.js">this custom component</a> adds the GitHub link in the footer of this page:</p>
<pre><code class="language-js hljs language-javascript" data-highlighted="yes"><span class="hljs-keyword">import</span> { define, onFirstRender } <span class="hljs-keyword">from</span> <span class="hljs-string">'https://esm.sh/minicomp'</span>
<span class="hljs-keyword">import</span> { html, ref } <span class="hljs-keyword">from</span> <span class="hljs-string">'https://esm.sh/rehtm'</span>

<span class="hljs-title function_">define</span>(<span class="hljs-string">'gh-link'</span>, <span class="hljs-function">() =&gt;</span> {
  <span class="hljs-keyword">const</span> anchor = <span class="hljs-title function_">ref</span>()

  <span class="hljs-keyword">const</span> <span class="hljs-title function_">load</span> = <span class="hljs-keyword">async</span> (<span class="hljs-params"></span>) =&gt; {
    <span class="hljs-keyword">const</span> res = <span class="hljs-keyword">await</span> <span class="hljs-title function_">fetch</span>(<span class="hljs-string">'/@env/git/remote/info'</span>)
    <span class="hljs-keyword">const</span> info = <span class="hljs-keyword">await</span> res.<span class="hljs-title function_">json</span>()

    anchor.<span class="hljs-property">current</span>.<span class="hljs-property">href</span> = <span class="hljs-string">`https://<span class="hljs-subst">${info.host}</span>/<span class="hljs-subst">${info.full_name}</span>`</span>
  }

  <span class="hljs-title function_">onFirstRender</span>(<span class="hljs-function">() =&gt;</span> <span class="hljs-title function_">load</span>())

  <span class="hljs-keyword">return</span> html`<span class="language-xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://unpkg.com/nokss/dist/bundles/md.css"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">ref</span>=<span class="hljs-string">"</span></span></span><span class="hljs-subst">${anchor}</span><span class="language-xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"_blank"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">slot</span>&gt;</span>GitHub<span class="hljs-tag">&lt;/<span class="hljs-name">slot</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
  `</span>
})
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<hr>
<h3 id="provided-apis">Provided APIs<menu role="toolbar"><button ref="?" aria-label="copy link" class="icon">🔗</button></menu></h3>
<p>Note that these APIs are only available during pre-rendering, i.e. during execution of <code>pree build</code> or <code>pree view</code> commands. They should not be invoked in the final website: either load components and scripts using them as <code>build-only</code> (<a href="/usage/build-only-scripts">see this</a>), or check for their availability via <code>window.BUILD_ENV_API</code> variable:</p>
<pre><code class="language-js hljs language-javascript" data-highlighted="yes"><span class="hljs-keyword">if</span> (<span class="hljs-variable language_">window</span>.<span class="hljs-property">BUILD_ENV_API</span>) {
  <span class="hljs-comment">// use the APIs</span>
}
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>

<div style="max-width: 100%; overflow: auto">
<table>
  <caption>
    Build Environment APIs
  </caption>
  <tbody>
    <tr>
      <td><m-d><p><code>/@env/conf</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p><code>pree</code>'s configuration</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"src"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"docs"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"dest"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"site"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"prod"</span><span class="hljs-punctuation">:</span> <span class="hljs-literal"><span class="hljs-keyword">false</span></span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/conf/:var</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>specific configuration variable</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/conf/src</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-string">"docs"</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/vars/:var</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>specific environment variable</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>text</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/vars/PATH</code></p>
<pre><code class="language-text hljs language-plaintext" data-highlighted="yes">/usr/local/bin:/usr/bin:/bin
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/remote/info</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>remote git repository info</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"host"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"github.com"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"full_name"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"loreanvictor/pree"</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/remote/url</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>remote git repository URL</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>text</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><pre><code class="language-text hljs language-plaintext" data-highlighted="yes">git@github.com:loreanvictor/pree.git
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/commits/first</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>first commit of the project</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"d22c84..."</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"author_name"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"Eugene Ghanizadeh Khoub"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"author_email"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"ghanizadeh.eugene@gmail.com"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"date"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"2024-01-26T13:49:32+01:00"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"message"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"Initial commit"</span>
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/commits/last</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>last commit of the project</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"051kl3z..."</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"author_name"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"Eugene Ghanizadeh Khoub"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"author_email"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"ghanizadeh.eugene@gmail.com"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"date"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"2024-02-04T14:21:50+01:00"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"message"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"Some polush"</span>
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/commits/first/:PATH</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>first commit of given file</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/git/commits/first/docs/usage.html</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"3653af..."</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"author_name"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"Eugene Ghanizadeh Khoub"</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/commits/last/:PATH</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>last commit of given file</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/git/commits/last/docs/usage.html</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"72g421..."</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"author_name"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"Eugene Ghanizadeh Khoub"</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/commits/all</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>all commits of the project</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/git/commits/all</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">[</span>
  <span class="hljs-punctuation">{</span> <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"3653af..."</span><span class="hljs-punctuation">,</span> ...<span class="hljs-punctuation">}</span><span class="hljs-punctuation">,</span>
  <span class="hljs-punctuation">{</span> <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"d22c84..."</span><span class="hljs-punctuation">,</span> ...<span class="hljs-punctuation">}</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">]</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/commits/all/:PATH</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>all commits of given file</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/git/commits/all/docs/usage.html</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">[</span>
  <span class="hljs-punctuation">{</span> <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"3653af..."</span><span class="hljs-punctuation">,</span> ...<span class="hljs-punctuation">}</span><span class="hljs-punctuation">,</span>
  <span class="hljs-punctuation">{</span> <span class="hljs-attr">"hash"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"d22c84..."</span><span class="hljs-punctuation">,</span> ...<span class="hljs-punctuation">}</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">]</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/git/show/:OBJECT</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p><a href="https://git-scm.com/docs/git-show">git show given object</a></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>file format</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/git/show/HEAD:docs/index.html</code></p>
<pre><code class="language-html hljs language-xml" data-highlighted="yes">---
layout: ./_layout.html
---

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">"background"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">use-html</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"./_lines.html"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use-html</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

...
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/files/list</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>A list of files of the project</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">[</span>
  <span class="hljs-string">".eslintrc"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-string">".pree.yml"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-string">"LICENSE"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-string">"docs/index.html"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-string">"docs/usage/index.html"</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">]</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/files/list/:PATTERN</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>A list of files matching given pattern</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>JSON</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/files/list/docs/**/*.html</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">[</span>
  <span class="hljs-string">"docs/index.html"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-string">"docs/usage/index.html"</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">]</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
    </tr>
    <tr>
      <td><m-d><p><code>/@env/files/read/:PATH</code></p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>Read the content of a file</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td><m-d><p>file format</p>
<template shadowrootmode="open"><slot></slot></template></m-d></td>
      <td>
        <details>
          <summary>Example</summary>
          <m-d><p><code>/@env/files/read/package.json</code></p>
<pre><code class="language-json hljs" data-highlighted="yes"><span class="hljs-punctuation">{</span>
  <span class="hljs-attr">"name"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"pree"</span><span class="hljs-punctuation">,</span>
  <span class="hljs-attr">"version"</span><span class="hljs-punctuation">:</span> <span class="hljs-string">"0.1.10"</span><span class="hljs-punctuation">,</span>
  ...
<span class="hljs-punctuation">}</span>
</code><menu role="toolbar" align="right"><button ref="?" class="icon" aria-label="copy">📑</button></menu></pre>
<template shadowrootmode="open"><slot></slot></template></m-d>
        </details>
      </td>
  </tr></tbody>
</table>
</div>

<br>
<change-history><template shadowrootmode="open"><style>a {
        display: block;
        text-align: right;
        opacity:.35;
        font-size: 0.8rem;
        font-style: italic;
        text-decoration: none;
        color: inherit;
      }</style><a ref="?" target="_blank" href="https://github.com/loreanvictor/pree/commit/f1bde2096973806bae13525ce558c1a08bac9adf">Updated at <span ref="?">Feb 07, 2024</span> <br>for <span ref="?">pree</span> version <span ref="?">0.1.13</span></a></template></change-history>
<br>
      <prev-next><template shadowrootmode="open"><link rel="stylesheet" href="https://unpkg.com/nokss"><link rel="stylesheet" href="https://unpkg.com/graphis/font/graphis.css"><style>i {
      font-family: 'graphis', sans-serif;
      font-style: normal;
      font-size: 2rem;
      opacity: .25;
    }

    section[role="feed"] {
      flex-direction: row;
      &[aria-hidden] {
        opacity: 0;
      }

      opacity: 1;
      transition: opacity .5s;

      article {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        & > a {
          display: block;
          flex-grow: 1;
          text-decoration: none!important;
        }

        &.next {
          flex-basis: flex-end;
          text-align: right;
        }

        @media (max-width: 480px) {
          &:first-child:not(:last-child) {
            display: none;
          }
        }
      }

      margin-bottom: 4rem;
    }</style><section role="feed" ref="?">        
        
          <article>
            <i>⬅</i>
            <a href="components/ssr.html">
              <small>Previosly</small><br>
              Server Side Rendering
            </a>
          </article>
          
        
          <article class="next">
            <a href="components/publish.html">
              <small>Up Next</small><br>
              Publishing Components
            </a>
            <i>➡</i>
          </article>
          
      </section></template></prev-next>
    </main>
    <footer>
      <use-html src="./_footer.html"><base href="/pree/"><script type="module" src="./.components/menu-toggle.js"></script>



<div style="display: flex" class="local-style-1049qzrn8q4" data-local-style="local-style-1049qzrn8q4"><style>.local-style-1049qzrn8q4[data-local-style=local-style-1049qzrn8q4] { 
 
    b {
      opacity: .35;
      font-weight: normal;
      display: inline-block;
      transform: scaleY(2);
      margin: 0 .35rem;
    }
   
 }</style>
  

  <menu-toggle><template shadowrootmode="open"><link rel="stylesheet" href="https://unpkg.com/nokss"><link rel="stylesheet" href="https://unpkg.com/graphis/font/graphis.css"><style>.icon {
      font-family: 'graphis', sans-serif;
      font-style: normal;
      font-size: 1.2rem;
    }

    button[role="switch"][aria-checked="true"]>span{
      color: var(--background-color);
    }</style><button ref="?" role="switch" aria-label="toggle sidebar" aria-checked="true"><span class="icon">❌</span><span class="icon">⩧</span></button></template></menu-toggle>
  <div style="flex-grow: 1"></div>
  <div align="right">
    <small-device>
      <gh-link no-label="">pree<template shadowrootmode="open"><link rel="stylesheet" href="https://unpkg.com/nokss/dist/bundles/md.css"><style>octo-icon { opacity: .45; transition: opacity .15s; }
      a:not([role]) {
        filter: none;
        color: var(--text-color);
        &:hover octo-icon { opacity: 1; }
      }</style><a ref="?" target="_blank" href="https://github.com/loreanvictor/pree"><octo-icon style=""><template shadowrootmode="open">
  <style>
    svg {
      width: 1.2rem;
      vertical-align: -.65rem;
      margin-right: .15rem;
    }
  </style>
  <svg width="32" height="32" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="currentColor"></path> </svg>
</template></octo-icon><slot ref="?" style="display: none">GitHub</slot></a></template></gh-link>  
      <npm-badge no-label="">pree<template shadowrootmode="open"><link rel="stylesheet" href="https://unpkg.com/nokss/dist/bundles/md.css"><style>a:not([role]) {
        filter: none;
        color: var(--text-color);
      }
      img {
        vertical-align: middle;
        margin-left: 0.5rem;
      }</style><a ref="?" target="_blank" href="https://www.npmjs.com/package/pree"><slot ref="?" style="display: none">NPM</slot><img alt="npm" ref="?" src="https://img.shields.io/npm/v/pree.svg?label=&amp;style=normal"></a></template></npm-badge>
    <template shadowrootmode="open">
  <style>
    @media (min-width: 768px) {
      :host {
        display: none;
      }
    }
  </style>
  <slot></slot>
</template></small-device>
    <large-device>
      <gh-link>github<template shadowrootmode="open"><link rel="stylesheet" href="https://unpkg.com/nokss/dist/bundles/md.css"><style>octo-icon { opacity: .45; transition: opacity .15s; }
      a:not([role]) {
        filter: none;
        color: var(--text-color);
        &:hover octo-icon { opacity: 1; }
      }</style><a ref="?" target="_blank" href="https://github.com/loreanvictor/pree"><octo-icon style=""><template shadowrootmode="open">
  <style>
    svg {
      width: 1.2rem;
      vertical-align: -.65rem;
      margin-right: .15rem;
    }
  </style>
  <svg width="32" height="32" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="currentColor"></path> </svg>
</template></octo-icon><slot ref="?" style="">GitHub</slot></a></template></gh-link>
      <b>|</b>
      <npm-badge design="flat-square">npm<template shadowrootmode="open"><link rel="stylesheet" href="https://unpkg.com/nokss/dist/bundles/md.css"><style>a:not([role]) {
        filter: none;
        color: var(--text-color);
      }
      img {
        vertical-align: middle;
        margin-left: 0.5rem;
      }</style><a ref="?" target="_blank" href="https://www.npmjs.com/package/pree"><slot ref="?" style="">NPM</slot><img alt="npm" ref="?" src="https://img.shields.io/npm/v/pree.svg?label=&amp;style=flat-square"></a></template></npm-badge>
    <template shadowrootmode="open">
  <style>
    @media (max-width: 767px) {
      :host {
        display: none;
      }
    }
  </style>
  <slot></slot>
</template></large-device>
  </div>
</div><template shadowrootmode="open"><slot></slot></template></use-html>
    </footer>
    
    <script type="module" src="copy.js"></script>
  

</body></html>