@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #265073;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #010204;
    --text-color: #dcdfd7;
    --primary-color: #9AD0C2;
  }
}

main {
  margin-top: 20vh;
}

ul {
  padding-left: 1em;
}

body>aside:first-of-type {
  padding-top: 20vh;
  ul {
    list-style: none;
  }
}

.icon {
  font-family: graphis, sans-serif;
  font-size: 1rem;
}