@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #265073;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #010204;
    --text-color: #dcdfd7;
    --primary-color: #9AD0C2;
  }
}

a:not([role]) {
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, var(--primary-color) 35%, var(--background-color));
  transition: text-decoration-color .15s;

  &:hover {
    text-decoration-color: var(--primary-color);
  }
}

tbody :is(th,td) pre code {
  color: white !important;
}

main {
  margin-top: 20vh;
}

hr {
  margin: 3rem 0;
}

ul {
  padding-left: 1em;
}

body>aside:first-of-type {
  background: color-mix(in srgb, var(--background-color) 60%, transparent);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  padding-top: 20vh;
  ul {
    list-style: none;
  }
}

.icon {
  font-family: graphis, sans-serif;
  font-size: 1rem;
}

blockquote {
  padding-bottom: 0.2rem;
}

emo-li {
  p { margin: 0; }
  &:last-child p { margin-bottom: revert; }
}


td {
  vertical-align: top;

  & > details {
    min-width: 256px;
    &:first-child { margin-top: 1rem; }
    &:not(:first-child) { margin-top: .5rem; }

    & > summary {
      opacity: .5;
      transition: opacity .15s;
      cursor: pointer;
      font-size: 0.8rem;
      margin-bottom: .5rem;
  
      &:hover {
        opacity: 1;
      }
    }
  }
}