:root {
  --primary-color: #2D9596;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #fffcf3;
  }
}

main {
  margin-top: 20vh;
}

small {
  opacity: .5;
}

ul {
  padding-left: 1em;
}

body>aside:first-of-type {
  padding-top: 20vh;
  ul {
    list-style: none;
  }
}